.taikhoan{
    position: relative;
  }
  .form1{
    position: absolute;
    display: none;
  }
  .taikhoan:hover>.form1{
    display:block;
    margin-top: 57px;
    margin-left: -10px;
  }
  .nav-link{
    color: white;
    font-weight: bold;
  }