* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-green-color: #1dbb90;
    --primary-blue-color: #1eaace;
    --primary-black-color: #1d1d1d;
    --primary-grey-color: #eee;
    --white-color: #fff;
    --text-color: #333;
    --tab-heading-height: 32px;
}

body {
    background-color: var(--primary-grey-color);
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
}


/* header */

header {
    background-color: var(--primary-blue-color);
}

.header-logo-img {
    width: 80px;
}

.header-search {
    flex: 0.8;
}

.search-inp {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 80%;
}

.search-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.header-exten>li {
    width: 60px;
    font-size: 1.6rem;
    margin: 0 10px;
    position: relative;
    text-align: center;
}

.header-exten i {
    color: var(--white-color);
}

.submenu {
    position: absolute;
    top: 100%;
    left: -50%;
    padding: 8px;
    border-radius: 5px;
    list-style: none;
    display: none;
    z-index: 100;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    animation: notifyScale ease-in 0.2s;
}

@keyframes notifyScale {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

nav {
    background-color: var(--white-color);
}

li:hover>.submenu {
    display: block;
}

.menu-category {
    border: none;
}

.menu-category .nav-link {
    color: var(--primary-black-color);
    font-size: 0.8rem;
}

.menu-category .nav-link:hover {
    text-decoration: underline;
}


/* Notify box */

.has-notify {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 12%;
    left: 58%;
    position: absolute;
    background-color: red;
}

.notify-heading,
.notify-footer {
    padding: 8px;
}

.notify-heading {
    margin-bottom: 0;
    border-bottom: 1px solid var(--primary-grey-color);
}

.notify-footer {
    border-top: 1px solid var(--primary-grey-color);
}

.notify-box {
    width: 400px;
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 5px;
    list-style: none;
    display: none;
    z-index: 100;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    animation: notifyScale ease-in 0.4s;
    font-size: 0.8rem;
    background-color: var(--white-color);
}

.notify-item {
    height: 80px;
    background-color: rgba(29, 170, 205, 0.2);
}

.notify-item.readed {
    background-color: var(--white-color);
}

.notify-item:hover {
    background-color: var(--primary-grey-color);
}

li:hover>.notify-box {
    display: block;
}

.notify-link:hover {
    text-decoration: none;
}

.notify-img i {
    font-size: 1rem;
    color: var(--primary-blue-color);
}

.notify-title,
.notify-detail {
    color: var(--primary-black-color);
    margin: 2px;
}

.notify-title {
    --line-height: 26px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: var(--line-height);
    height: calc(var(--line-height)*1);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.notify-detail {
    --line-height: 0.8rem;
    font-size: 0.7rem;
    line-height: var(--line-height);
    height: calc(var(--line-height)*3);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}


/* content */

.content {
    padding: 20px;
}

.section-block {
    margin-top: 20px;
    background-color: var(--white-color);
    padding: 20px;
}

.product-box {
    margin-top: 20px;
}

.product-item {
    transition: all 0.4s;
}

.product-item:hover {
    transform: translateY(-2px);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

.product-link,
.product-link:hover {
    text-decoration: none;
}

.product-title {
    font-size: 1rem;
    color: var(--primary-black-color);
}

.product-price {
    font-size: 1rem;
    font-weight: bold;
}

.rating {
    margin-bottom: 0;
}

.btn-more {
    background-color: transparent;
    color: var(--primary-blue-color);
    margin-top: 30px
}

.btn-more:hover {
    color: var(--white-color);
    background-color: var(--primary-blue-color);
}


/* footer */

footer {
    background-color: var(--primary-black-color);
    padding-bottom: 28px;
    color: var(--white-color);
    font-size: 0.8rem;
}

.ft-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.ft-link {
    font-size: 0.8rem;
    color: #D2D3D5;
}

.ft-link:hover {
    color: var(--primary-blue-color);
    text-decoration: none;
    transition: all 0.8s;
}

footer p {
    margin: 0;
}

.ft-block {
    margin-top: 28px;
}

.ft-final-content {
    font-size: 0.8rem;
}

.label {
    font-size: 16px;
}

.title {
    padding-left: 500px;
    font-weight: bold;
}

.img-SP {
    width: 100px;
    height: 150px;
    margin-right: 20px;
    margin-left: 40px;
}

.product-width {
    height: 320px;
}