* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-green-color: #1dbb90;
    --primary-blue-color: #1eaace;
    --primary-black-color: #1d1d1d;
    --white-color: #fff;
    --text-color: #333;
}

body {
    background-color: var(--white-color);
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
}


/* header */

header {
    background-color: var(--primary-blue-color);
}

.header-logo-img {
    width: 80px;
}

.header-search {
    flex: 0.8;
}

.search-inp {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 80%;
}

.search-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.header-exten>li {
    width: 60px;
    font-size: 1.6rem;
    margin: 0 10px;
    position: relative;
    text-align: center;
}

.header-exten i {
    color: var(--white-color);
}

.submenu {
    position: absolute;
    top: 100%;
    left: -50%;
    padding: 8px;
    border-radius: 5px;
    list-style: none;
    display: none;
}

.menu li:hover>.submenu {
    display: block;
}

.menu-category {
    border: none;
    background-color: #eee;
}

.menu-category .nav-link {
    color: var(--primary-black-color);
    font-size: 0.8rem;
}

.menu-category .nav-link:hover {
    text-decoration: underline;
}


/* footer */

footer {
    background-color: var(--primary-black-color);
    padding: 28px 0;
    color: var(--white-color);
    font-size: 0.8rem;
}

.ft-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.ft-link {
    font-size: 0.8rem;
    color: #D2D3D5;
}

.ft-link:hover {
    color: var(--primary-blue-color);
    text-decoration: none;
    transition: all 0.8s;
}

footer p {
    margin: 0;
}

.ft-final-title {
    margin-top: 20px;
}

.ft-final-content {
    font-size: 0.8rem;
}
.label
{
   font-size: 16px;
}
.title{
    padding-left: 500px; font-weight:bold ;
}
.img-SP
{
    width: 100px;
    height: 150px;
    margin-right: 20px;
    margin-left: 40px;
}
.btn-SP
{
    margin-top: 80px;
    width: 20px;
    
}
